<body>
    <div class = "text-center w-100 h-100">

      <div class="d-flex  p-3 mx-auto flex-column">

        <app-principal></app-principal>

        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="form-signin pt-5">
          <img id="imagen" class="img-fluid" src="assets/img/logo.png">
          <h1 class="h3 mb-3 font-weight-normal">Iniciar sesión</h1>
          <input type="email" id="inputUsuario" class="form-control" placeholder="Email"name="correo"
          [(ngModel)]="form.correo" required #correo="ngModel" required autofocus>

          <input type="password" id="inputContraseña" class="form-control" placeholder="Contraseña"
          name="password" [(ngModel)]="form.password" required minlength="2" #password="ngModel">

          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>

          <button class="btn btn-lg btn-success btn-block" type="submit">Iniciar sesión</button>

          <div class="form-group">
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && isLoginFailed"
            >
              Login failed: {{ errorMessage }}
            </div>
          </div>
        </form>
        <div class="alert alert-success" *ngIf="isLoggedIn">
          Logged in as {{ roles }}.
        </div>
      </div>
    </div>
  </body>
