<body>
    <div class = "text-center w-100 h-100">
      <div class="d-flex  p-3 flex-column">
        <app-principal></app-principal>
        <form  *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm" novalidate class="form-signin pt-5">
          <img id="imagen" class="img-fluid" src="assets/img/logo.png">
          <h1 class="h3 mb-3 font-weight-normal">Registro</h1>

          <input type="email" id="inputEmail" class="form-control" placeholder="Email" name="correo"
          [(ngModel)]="form.correo" required minlength="5" maxlength="50" #correo="ngModel" autofocus>
          <div class="alert-danger" *ngIf="f.submitted && correo.invalid">
            <div *ngIf="correo.errors.required">Email is required</div>
            <div *ngIf="correo.errors.email">
              Email must be a valid email address
            </div>
          </div>

          <input type="text" id="inputNomApels" class="form-control" placeholder="Nombre y apellidos" name="nom_apels"
          [(ngModel)]="form.nom_apels" required minlength="3" maxlength="20" #nom_apels="ngModel">


          <input type="text" id="inputUsuario" class="form-control" placeholder="Usuario" name="username"
          [(ngModel)]="form.username" required minlength="8" maxlength="40" #username="ngModel">
          <div class="alert-danger" *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div>




          <input type="date" id="inputFechaNacimiento" class="form-control" placeholder="Fecha Nacimiento" name="date_nacimiento" required>
          <input type="password" id="inputContraseña" class="form-control" placeholder="Contraseña" name="password"
          [(ngModel)]="form.password" minlength="6" #password="ngModel" required>
          <div class="alert-danger" *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>

          <input type="password" id="inputContraseñaConfirmada" class="form-control" placeholder="Confirmar Contraseña" required>
          <div class="checkbox mb-3">
            <label>
              <p>Ya tienes una cuenta? <u><a href="/login">Inicia sesión</a></u></p>
            </label>
          </div>
          <button class="btn btn-lg btn-success btn-block" type="submit">Registrar</button>
          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
          </div>
        </form>
        <div class="alert alert-success" *ngIf="isSuccessful">
          Your registration is successful!
        </div>
      </div>
    </div>
  </body>
