<body>

  <app-lateral></app-lateral>

  <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Ver Usuarios</h1>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" id="campoBusqueda" type="search" placeholder="Buscar usuario" aria-label="Search">
        <button class="btn btn-light border border-dark my-2 my-sm-0" (click)="buscar()"><img id="lupa" src="../../../../assets/img/lupa.png"></button>
      </form>
    </div>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">Correo</th>
          <th scope="col">Nom_Apels</th>
          <th scope="col">Contraseña</th>
          <th scope="col">Nombre de Usuario</th>
          <th scope="col">Fecha Nacimiento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuarios of usuario | async">
          <td *ngIf="usuarios.nom_apels.toLowerCase().split(' ').join('') == campoBusqueda || campoBusqueda == null">{{usuarios.correo}}</td>
          <td *ngIf="usuarios.nom_apels.toLowerCase().split(' ').join('') == campoBusqueda || campoBusqueda == null">{{usuarios.nom_apels}}</td>
          <td *ngIf="usuarios.nom_apels.toLowerCase().split(' ').join('') == campoBusqueda || campoBusqueda == null">{{usuarios.password}}</td>
          <td *ngIf="usuarios.nom_apels.toLowerCase().split(' ').join('') == campoBusqueda || campoBusqueda == null">{{usuarios.username}}</td>
          <td *ngIf="usuarios.nom_apels.toLowerCase().split(' ').join('') == campoBusqueda || campoBusqueda == null">{{usuarios.date_nacimiento}}</td>
          <td *ngIf="usuarios.nom_apels.toLowerCase().split(' ').join('') == campoBusqueda || campoBusqueda == null"><button class="btn btn-success" id="editar" type="button">Editar Usuario</button></td>
          <td *ngIf="usuarios.nom_apels.toLowerCase().split(' ').join('') == campoBusqueda || campoBusqueda == null"><button class="btn btn-danger" id="eliminar" type="button">Eliminar Usuario</button></td>
        </tr>
      </tbody>
    </table>
  </main>
  </body>
