
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-4 col-lg-3 mr-0 px-3" href="#" id="titulo"><img id="imagenMenu" class="img-fluid" src="assets/img/logo.ico">&nbsp;SMARTLIST</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-2 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column pt-5">
          <li class="nav-item">
            <a id="misSmartList" class="nav-link" href="/misSmartList">
              <i class="fas fa-list"></i>
              <span data-feather="home"></span>
              Mis SmartList <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">

            <a id="crearSmartList" class="nav-link" href="/crearSmartList">
              <i class="fas fa-plus-circle"></i>
              <span data-feather="file"></span>
              Crear SmartList
            </a>

          </li>

          <li class="nav-item">
            <a id="crearProducto" class="nav-link" href="/crearProducto">
              <i class="fas fa-plus-circle"></i>
              <span data-feather="shopping-cart"></span>
             Crear productos
            </a>
          </li>

          <li class="nav-item">
            <a id="listarProducto" class="nav-link" href="/listarProducto">
              <i class="fas fa-shopping-bag"></i>
              <span data-feather="shopping-cart"></span>
             Ver productos
            </a>
          </li>

          <li class="nav-item">
            <a id="listarUsuario" class="nav-link" href="/listarUsuario">
              <i class="fas fa-shopping-bag"></i>
              <span data-feather="shopping-cart"></span>
             Ver usuarios
            </a>
          </li>


          <!--
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Escanear productos
            </a>
          </li>
          -->

          <li class="nav-item">
            <a id="cuenta" class="nav-link" href="/cuenta">
              <i class="fas fa-user"></i>
              <span data-feather="bar-chart-2" ></span>
              Cuenta
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="desconectar()">
              <i class="fas fa-sign-out-alt"></i>
              <span data-feather="layers"></span>
              Desconectar
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
