body {
  background: #dedede;
}

.container{
  position: relative;
  width: 100%;
}
.page-wrap {
  min-height: 100vh;
}

@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}



img{
  position: relative;
    width: 90px;
    top: 5px;
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}



  #error {
    position: relative;
    left:25%;

}

