<body>
  <app-lateral></app-lateral>
  <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-md-4">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >

<div *ngIf="lista">
  <h3>Datos de la lista</h3>
  <div>
    <label><b>Nombre: </b></label> {{lista.nombre_lista}}
  </div>
  <div>
    <label><b>Descripción: </b></label> {{lista.descripcion}}
  </div>
  <div>
    <label><b>Fecha creación: </b></label> {{lista.fecha_creacion}}
  </div>
</div>

<br>
<br>
<form class="form-inline my-2 my-lg-0">
  <input class="form-control w-30" type="text" placeholder="Agregar o eliminar usuario" id="correoIntroducido">
  &nbsp;&nbsp;&nbsp;
  <button class="btn btn-light border border-dark my-2 my-sm-0" type="submit" (click)="agregarUsuarioSmartList()"><img id="lupa" src="../../../../assets/img/mas.png"></button>
  &nbsp;&nbsp;
  <button class="btn btn-light border border-dark my-2 my-sm-0" type="submit" (click)="eliminarUsuarioSmartList()"><img id="lupa" src="../../../../assets/img/menos.png"></button>

</form>


</div>
  <table class="table b-2" >
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Categoria</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of arrayProducto">
        <th scope="row">{{producto.nombre}}</th>
        <td>{{producto.precio}}</td>
        <td>{{producto.categoria}}</td>
        <td><button (click)="eliminarProductoSmartList(producto.nombre)" class="btn btn-danger">Eliminar</button></td>

      </tr>

    </tbody>
  </table>


</main>
</body>
